* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.headerPart {
  padding: 30px 45px 30px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  display: flex;
}
.aboutMe {
  width: 75%;
}
.name {
  color: black;
}
.name p:nth-child(1) {
  font-size: 30px;
}
.name p:nth-child(2) {
  font-size: 14px;
}
.contacts,
.personal {
  display: flex;
}
.description {
  width: 60%;
  padding: 25px 20px 25px 0;
}
.personal {
  width: 40%;
  padding: 25px 0 25px 20px;
  justify-content: space-between;
}
.personal p {
  line-height: 25px;
}

.rightColumn {
  text-align: right;
}
.image {
  width: 25%;
  height: 20vw;
}
.image img {
  width: 100%;
  height: inherit;
}

.educationSection,
.experienceSection,
.skillsSection {
  padding: 50px 40px;
  display: flex;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}
.sectionName {
  width: 15%;
  padding-right: 55px;
  font-size: 28px;
}

.subSection {
  padding-left: 55px;
  border-left: 2px solid rgba(0, 0, 0, 0.5);
}
.subSection:nth-child(1) {
  margin-bottom: 20px;
}
.subSection:nth-child(2) {
  margin-top: 20px;
}
.subSectionTitlePart {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
.subSectionTitle {
  font-size: 28px;
}
.doing,
.year {
  line-height: 20px;
  font-size: 15px;
}
.year {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  line-height: 55px;
}
.subSectionDescriptionPart {
  width: 70%;
}
.subSectionDescriptionPart_short {
  width: 100%;
}
.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}
